body{
    width: 1024px;
    margin: 0 auto;    
}
ul{
    list-style: none;
    text-align: center;
    
}
li{
    display: inline;
    padding: 5pt;
    
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
td:hover{
    background-color:  #d5dbdb ;
}
div{
    text-align: center;
}
table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
h2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2980b9;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}
#tituloprincipal{
    display:flex;
    justify-content:center;
    
}
section{
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    border-color: #134678;
    
}
fieldset{
    font-size: large;
    color: black;
}
tr{
    height: 2em;
}
td {
    background-color: #ecf0f1;
}
 
th {
    color:white;
    background-color: #2980b9;
}
article{
    margin-bottom: 15px;
    border: 3px solid;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-radius: 10px;
    border-color: #134678;

}
p{
    text-align: center;
    
}
footer p{
    color:#2980b9;
}
header {
    background-color: #134678;
}
td[colspan="5"] {
    background-color: #f39c12;
}
footer:nth-last-child(2){
    background-color:#134678 ;
    border-radius: 10px;
}
h2{
    color:#2980b9;
}
h3{
    color:white;
    text-align: center;
}
footer td{
    color:#2980b9;
}
p{
    color:white;
}
#pie{
    color:black;
}


#identificador1{
    position: absolute;
    top: 10em;
    z-index: 1;
    background-color: rgb(255, 61, 245);
    width: 1000px;
}
#identificador2{
    position: absolute;
   top:14em;
   z-index: 2;
   background-color: rgb(255, 123, 0);
   width: 1000px;
}
#identificador3{
    position: absolute;
    top: 18em;
    z-index: 3;
    background-color: rgb(38, 204, 94);
    width: 1000px;
}
#identificador4{
    position: absolute;
   top: 22em;
   z-index: 4;
   background-color: rgb(162, 0, 255);
   width: 1000px;
}
#identificador5{
    position: absolute;
    top: 26em;
    z-index: 5;
    background-color: rgb(0, 195, 255);
    width: 1000px;
}
#identificador6{
    position: absolute;
   top: 30em;
   z-index: 6;
   background-color: rgb(255, 0, 106);
   width: 1000px;
}
#identificador7{
    position: absolute;
   top: 34em;
   z-index: 7;
   background-color: rgb(0, 217, 255) ;
   width: 1000px;
}
#identificador8{
    position: absolute;
   top: 38em;
   z-index: 8;
   background-color: #b3ff3a;
   width: 1000px;
}
#identificador10{
    position: absolute;
   top: 42em;
   z-index: 9;
   background-color: blue;
   width: 1010px;
}
#identificador1:hover{
    z-index: 10;
    height: 400px;
}
#identificador1:hover table{
    margin-top: 20%;  
  }
#identificador1:hover footer{
    justify-content: end;
   text-align: center;  
   margin-top:15%;
 }
#identificador2:hover{
    z-index: 10;
    height: 400px;
 }
#identificador2:hover table{
    margin-top: 20%;  
  }
#identificador2:hover footer{
    justify-content: end;
    text-align: center;  
    margin-top:15%;
}
#identificador3:hover{
    z-index: 10;
    height: 400px;
}
#identificador3:hover table{
    margin-top: 20%;  
}
#identificador3:hover footer{
    justify-content: end;
    text-align: center;  
    margin-top:15%;
}
#identificador4:hover{
    z-index: 10;
    height: 400px;
}
#identificador4:hover table{
    margin-top: 20%;  
}
#identificador4:hover footer{
    justify-content: end;
    text-align: center;  
    margin-top:15%;
}
#identificador5:hover{
    z-index: 10;
    height: 400px;
}
#identificador5:hover table{
    margin-top: 20%;  
}
#identificador5:hover footer{
     justify-content: end;
    text-align: center;  
    margin-top:15%;
}
#identificador6:hover{
    z-index: 10;
    height: 400px;
}
 #identificador6:hover table{
    margin-top: 20%;  
}
#identificador6:hover footer{
     justify-content: end;
    text-align: center;  
    margin-top:15%;
}
#identificador7:hover{
    z-index: 10;
    height: 400px;
}
 #identificador7:hover table{
    margin-top: 20%;  
}
  #identificador7:hover footer{
     justify-content: end;
    text-align: center;  
    margin-top:15%;
}
#identificador8:hover{
    z-index: 10;
    height: 400px;
}
#identificador8:hover table{
    margin-top: 20%;  
}
#identificador8:hover footer{
     justify-content: end;
    text-align: center;  
    margin-top:15%;
}
#identificador10:hover{
    z-index: 10;
    height: 400px;
}
#identificador10:hover table{
    margin-top: 20%;  
}
#identificador10:hover footer{
     justify-content: end;
    text-align: center;  
    margin-top:15%;
}